notebooks/
dataset/
analysis/

.venv
.env

__pycache__/
*.pyc
*.pyo
*.pyd

logs/
*.log
*.sqlite3


docker-compose.override.yml
.dockerignore
*.pid

.ipynb_checkpoints/

.mypy_cache/

.vscode/
.idea/

docs/_build/

private_key.pem
public_key.pem

/models/